<?xml version="1.0"?>
<configuration>
    <configSections>
     	<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JocysCom.TextToSpeech.Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<userSettings>
        <JocysCom.TextToSpeech.Monitor.Properties.Settings>
               <setting name="RateMinComboBoxText" serializeAs="String">
                      <value>0</value>
               </setting>
               <setting name="PitchMinComboBoxText" serializeAs="String">
                      <value>-5</value>
               </setting>
               <setting name="RateMaxComboBoxText" serializeAs="String">
                      <value>2</value>
               </setting>
               <setting name="PitchMaxComboBoxText" serializeAs="String">
                      <value>5</value>
               </setting>
               <setting name="GenderComboBoxText" serializeAs="String">
                      <value>Male</value>
               </setting>
               <setting name="VoicesData" serializeAs="String">
                      <value />
               </setting>
               <setting name="MonitorClipboardComboBoxText" serializeAs="String">
                      <value>Disabled</value>
               </setting>
        </JocysCom.TextToSpeech.Monitor.Properties.Settings>
    </userSettings>
</configuration>
