/.svn
/TextToSpeech/bin
/TextToSpeech/obj
/*.suo
/*.user
/TextToSpeech/Addon/JocysCom-WoW-TextToSpeech/*.wowsuo
/TextToSpeech/WoW/JocysCom-TextToSpeech-WoW/*.wowsuo
/TextToSpeech/*.suo
/TextToSpeech/*.user
/*.sdf
/.vs/JocysCom.WoW/v14/*.suo
/.vs/JocysCom.TextToSpeech/v14/*.suo
/TextToSpeech/.vs
/.vs/JocysCom.TextToSpeech
Files
